:root{
    --teal: #2ec1ac;
    --teal_hover: #279e8c;
}

* {
    font-family: "Poppins", sans-serif;
}

body{
    background: whitesmoke;
}

.h-font {
    font-family: "Merienda", cursive;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.custom-bg {
    background-color: var(--teal);
}

.custom-bg:hover {
    background-color: var(--teal_hover);
}

.availability-form {
    margin-top: -50px !important;
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 575px) {
    .availability-form {
        margin-top: 0px !important;
    }
}


/* FACILITIES */
.h-line{
    width: 200px;
    height: 2px;
    margin: 0 auto;
}

.pop:hover{
    border-top-color: var(--teal) !important;
    transform: scale(1.05);
    transition: all 0.3s ease-in;
}

.box{
    border-top-color: var(--teal) !important;
}

/* ADMIN LOGIN PANEL */
.login_form {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 400px;
}

#dashboard-menu{
    position: fixed;
    height: 100%;
    z-index: 12;

}

@media screen and (max-width: 991px) {
    #dashboard-menu{
        width: 100%;
        height: 1rem;
    }

    #maincontent{
        margin-top: 5rem !important;
    }
}

.custom-alert{
    position: fixed;
    top: 80px;
    right: 25px;
}
.user_alert{
    position: fixed;
    top: 100px;
    right: 25px;
}

/* #filter-nav{
    position: fixed;
    width: 30rem;
    width: 23rem;
    z-index: 100;
} */


@media (min-width: 992px) { 
    #filter-nav {
        position: fixed;
        top: 85px;  
        left: 20px;  
        width: 20rem; 
        z-index: 1000;  
        overflow-y: auto; /* Enables scrolling if content overflows */
    }
}

#filteration{
    min-height: 25rem;
}

#footer{
    z-index: 1000;
}


#card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}